<div class="container">
  <div class="row justify-content-center">
    <div class="equipment-detail-background card">
      <div class="card-body">
        <h5 class="card-title">Patient info.</h5>
        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Patient First Name :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.PatientFirstName" required>
          </div>
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Patient Last Name :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.PatientLastName" required>

          </div>

        </div>
        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Gender :</label>
            </div>
            <select class="custom-select" required
                    [(ngModel)]="Data.Gender">
              <option *ngFor="let GenderSelected of GenderList"
                      [value]="GenderSelected">
                {{GenderSelected}}
              </option>
            </select>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Marital Status :</label>
            </div>
            <select class="custom-select" required
                    [(ngModel)]="Data.MaritalStatus">
              <option *ngFor="let MaritalStatusSelected of MaritalStatusList"
                      [value]="MaritalStatusSelected">
                {{MaritalStatusSelected}}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Date of Birth :</label>
            </div>
            <input type="date" class="form-control" [(ngModel)]="Data.DOB" required>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Occupation :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.Occupation"
                   required>
          </div>
        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Address :</label>
            </div>
            <textarea [(ngModel)]="Data.Address" style="width: 100%"></textarea>

          </div>
        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Nationality :</label>
            </div>
            <select class="custom-select" required
                    [(ngModel)]="Data.Nationality">
              <option *ngFor="let NationalitySelected of NationalityList"
                      [value]="NationalitySelected">
                {{NationalitySelected}}
              </option>
            </select>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Passport Number :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.PassportNumber" required>
          </div>


        </div>


        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">languages spoken :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.languagesSpoken" required>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Hospital Number :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.HospitalNumber" required>
          </div>


        </div>


        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Contact Phone :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.ContactPhone" required>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Contact Mobile :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.ContactMobile" required>
          </div>


        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Email :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.Email" required>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Emergency Contact Details :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.EmergencyContactDetails" required>
          </div>


        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Relationship with Patient :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.RelationshipWithPatient" required>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Do you have Medical Insurance :</label>
            </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" name="MedicalInsurance" value="No" [(ngModel)]="Data.MedicalInsurance"> No &nbsp; &nbsp; &nbsp;
            <input type="radio" name="MedicalInsurance" value="Yes" [(ngModel)]="Data.MedicalInsurance"> Yes
          </div>


        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">If yes,Insurance Company name :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.InsuranceCompanyName" required>
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Policy Number :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.PolicyNumber" required>
          </div>


        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Do you require an Interpreter :</label>
            </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" name="Interpreter" value="No" [(ngModel)]="Data.Interpreter"> No &nbsp; &nbsp; &nbsp;
            <input type="radio" name="Interpreter" value="Yes" [(ngModel)]="Data.Interpreter"> Yes
          </div>

          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">If yes, Language Required :</label>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Data.LanguageRequired" required>
          </div>


        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <label class="input-group-text">Do you require Visa Assistance :</label>
            </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" name="VisaAssistance" value="No" [(ngModel)]="Data.VisaAssistance"> No &nbsp; &nbsp;
            &nbsp;
            <input type="radio" name="VisaAssistance" value="Yes" [(ngModel)]="Data.VisaAssistance"> Yes
          </div>


        </div>


        <!--<div class="row">-->
        <!--<div class="input-group mb-3 col-md-12">-->
        <!--<div class="input-group-prepend">-->
        <!--<label class="input-group-text" for="inputGroupSelect01">Instruction Manual</label>-->
        <!--</div>-->
        <!--<div class="custom-file">-->
        <!--<input type="file" id="InstructionManual" class="custom-file-input">-->
        <!--<label class="custom-file-label" for="inputGroupFile04">Choose file</label>-->
        <!--</div>-->
        <!--<div class="input-group-append">-->
        <!--<button (click)="ClearDataInputTypeFile('InstructionManual')" class="btn btn-outline-secondary"-->
        <!--type="button">clear data-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<button class="btn btn-outline-secondary button-at-bottom" (click)="SubmitToApprove()">Submit To Approve-->
        <!--</button>-->

      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="equipment-detail-background card">
      <div class="card-body">
        <h5 class="card-title">Clinical Information</h5>
        <div class="row">
          <div class=" col-md-6">
            Medical Diagnosis :

            <input type="text" class="form-control" [(ngModel)]="Data.MedicalDiagnosis1" required placeholder="1"> <br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalDiagnosis2" required placeholder="2"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalDiagnosis3" required placeholder="3"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalDiagnosis4" required placeholder="4"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalDiagnosis5" required placeholder="5"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalDiagnosis6" required placeholder="6"><br>
          </div>
          <div class="input-group mb-3 col-md-6">
            Current Medical Condition :
            <textarea [(ngModel)]="Data.CurrentMedicalCondition" style="width: 100%;height: 90%;"></textarea>

          </div>
        </div>


        <div class="row">
          <div class=" col-md-6">
            Medical List :

            <input type="text" class="form-control" [(ngModel)]="Data.MedicalList1" required placeholder="1"> <br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalList2" required placeholder="2"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalList3" required placeholder="3"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalList4" required placeholder="4"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalList5" required placeholder="5"><br>
            <input type="text" class="form-control" [(ngModel)]="Data.MedicalList6" required placeholder="6"><br>
          </div>
          <div class="input-group mb-3 col-md-6">
            Do you have any allergy :
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" name="AnyAllergy" value="No" [(ngModel)]="Data.AnyAllergy"> No &nbsp; &nbsp; &nbsp;
            <input type="radio" name="AnyAllergy" value="Yes" [(ngModel)]="Data.AnyAllergy"> Yes

          </div>
        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            If yes, please provide details :
            <textarea [(ngModel)]="Data.ProvideDetails" style="width: 100%;height: 90%;"></textarea>
          </div>
          <div class="input-group mb-3 col-md-6">
            Treatment Given :
            <textarea [(ngModel)]="Data.TreatmentGiven" style="width: 100%;height: 90%;"></textarea>

          </div>

        </div>


        <div class="row">
          <div class="input-group mb-3 col-md-6">
            Reason for Referral :
            <textarea [(ngModel)]="Data.ReasonForReferral" style="width: 100%;height: 90%;"></textarea>
          </div>
          <div class="input-group mb-3 col-md-6">
            Special Needs :
            <textarea [(ngModel)]="Data.SpecialNeeds" style="width: 100%;height: 90%;"></textarea>

          </div>

        </div>

        <div class="row">
          <div class="input-group mb-3 col-md-6">
            Prepared By :
            <textarea [(ngModel)]="Data.PreparedBy" style="width: 100%;height: 90%;"></textarea>
          </div>
          <div class="input-group mb-3 col-md-6">
            Hospital Request :
            <textarea [(ngModel)]="Data.HospitalRequest" style="width: 100%;height: 90%;"></textarea>
          </div>

        </div>

        <br><br>
        <div class="row">


          <div class="input-group mb-3 col-md-6">

            Attach File &nbsp; <input type="file" id="AttachFile"
                                      placeholder="AttachFile" required>
            <button (click)="ClearDataInputTypeFile('AttachFile')">clear data</button>


          </div>

        </div>


        <button class="btn btn-outline-secondary button-at-bottom" (click)="SubmitToApproveByAdmin()">Submit To Approve By Admin
        </button>

      </div>
    </div>
  </div>
</div>

