<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary bg-custom-nav">
  <img src="{{logoImageUrl}}" class="navbar-image" height="63.5" width="274">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PATIENT CARE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OUR DOCTORS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">QUALITY & SAFETY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICES & FACILITIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-info btn-sm btn-round" (click)="goToLogin()">Login</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-rose btn-sm btn-round">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
